html, body {
    background: #461FA8;
    font-family: proxima-nova, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10vw;
}

header {
    margin: 10vw 0 10vw 10vw;
}

header > object {
    width: 100%;
}

main {
    color: white;
    margin: 10vw 10vw 10vw 0;
    font-size: 6.3vw;
    padding-top: 3.45vw;
}

munchkin, imaginarium, codenames {
    display: block;
    margin-bottom: 1.6vw;
}

main > *:last-child {
    margin-bottom: 0;
}

@media (orientation: portrait) {
    #container {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 10vw;
    }

    header {
        margin: 10vw 10vw 0 10vw;
    }

    main {
        margin: 0 10vw 10vw 10vw;
        font-size: 10.2vw;
    }    
}
